<import src="../../wxParse/wxParse.wxml"/>
<login bind:myevent="onMyEvent"></login>
<view class="page-wrap">
    <block wx:if="{{isGetArticleInfo}}">
        <view class="content-main">
            <view class="article-other-info">
                <view class="article-title">
                    <image wx:if="{{articleInfo.super > 0}}" class="icon-jing" mode="aspectFill" src="../../images/jing.png"></image>
                    <image wx:if="{{articleInfo.top > 0}}" class="icon-jing" mode="aspectFill" src="../../images/ding.png"></image>
                    <text>{{articleInfo.title}}</text>
                </view>
                <navigator class="user-info" url="{{domain}}user/user?userId={{articleInfo.author_id}}" hover-class="none">
                    <image class="user-info-img" mode="aspectFill" src="{{articleInfo.head_url}}"></image>
                    <view class="user-info-name-wrap">
                        <view class="user-info-name">
                            <view class="user-info-name-text">{{articleInfo.nick_name}}</view>
                            <image wx:if="{{articleInfo.level == 1}}" class="icon-expert1" mode="aspectFill" src="../../images/expert-1.png"></image>
                            <image wx:if="{{articleInfo.level == 2}}" class="icon-expert2" mode="aspectFill" src="../../images/expert-2.png"></image>
                        </view>
                        <view class="user-info-position" wx:if="{{articleInfo.company}}">{{articleInfo.company}}</view>
                    </view>
                </navigator>
            </view>

            <view class="content {{articleInfo.forum_id <= 1 ? '' : 'content2'}}">
                <view class="wxParse content-text">
                    <template is="wxParse" data="{{wxParseData:article.nodes}}"/>
                </view>
                <image class="img-list" mode="aspectFit" wx:for="{{articleInfo.img_list}}" style="width: {{imgList[index].width}}rpx;height: {{imgList[index].height}}rpx;" wx:key="{{index}}" src="{{item}}" data-index="{{index}}" bindload="bindload" bindtap="previewImage"></image>
            </view>
            <view class="tag" wx:if="{{articleInfo.tag.length > 0}}">
                <view class="tag-item" wx:for="{{articleInfo.tag}}" wx:key="{{index}}">{{item}}</view>
            </view>
            <view class="contact">
                <view class="time">{{articleInfo._udate}}更新</view>
                <view>
                    <image class="icon-tb1" mode="aspectFill" src="../../images/tb1.png"></image>
                    <text>{{articleInfo.view_no}}</text>
                </view>
                <view>
                    <image class="icon-tb2" mode="aspectFill" src="../../images/tb2.png"></image>
                    <text>{{articleInfo.comment_no}}</text>
                </view>
                <view>
                    <image class="icon-tb3" mode="aspectFill" src="../../images/tb3.png"></image>
                    <text>{{articleInfo.store_no}}</text>
                </view>
            </view>
        </view>
        <view class="comment-wrap">
            <view class="comment-title-wrap">
                <view class="comment-title">全部回复</view>
            </view>
            <view class="comment-list-wrap" wx:if="{{commentData.data.length > 0 && articleInfo.comment_no > 0}}">
                <view class="comment-item" wx:for="{{commentData.data}}" wx:key="{{index}}">
                    <navigator class="user-info" url="{{domain}}user/user?userId={{item.user_id}}" hover-class="none">
                        <image class="user-info-img" mode="aspectFill" src="{{item.head_url}}"></image>
                        <view class="user-info-name-wrap">
                            <view class="user-info-name">
                                <view class="user-info-name-text">{{item.nick_name}}</view>
                                <image wx:if="{{item.user_level == 1}}" class="icon-expert1" mode="aspectFill" src="../../images/expert-1.png"></image>
                                <image wx:if="{{item.user_level == 2}}" class="icon-expert2" mode="aspectFill" src="../../images/expert-2.png"></image>
                            </view>
                            <view class="user-info-position" wx:if="{{item.company}}">{{item.company}}</view>
                        </view>
                        <view class="user-info-time {{item.company ? 'p' : ''}}">{{item._udate}}</view>
                    </navigator>
                    <view class="comment-content">{{item.comment}}</view>
                    <view class="func">
                        <navigator class="func-item" url="{{domain}}reply/reply?id={{articleInfo.bbs_id}}&commentId={{item.comment_id}}&replyname={{item.nick_name}}" hover-class="none">
                            <image class="icon-reply" mode="aspectFill" src="../../images/reply.png"></image>
                            <text>评论</text>
                        </navigator>
                        <view class="func-item {{item.agree == 1 ? 'active' : ''}}" data-handletype="1" data-index="{{index}}" bindtap="agreeUser">
                            <image class="icon-agree" mode="aspectFill" src="../../images/agree{{item.agree == 1 ? '1' : ''}}.png"></image>
                            <text>{{item.good}}</text>
                        </view>
                        <view class="func-item {{item.agree == 2 ? 'active' : ''}}" data-handletype="2" data-index="{{index}}" bindtap="agreeUser">
                            <image class="icon-opposition" mode="aspectFill" src="../../images/opposition{{item.agree == 2 ? '1' : ''}}.png"></image>
                            <text>{{item.bad}}</text>
                        </view>
                    </view>
                    <view class="reply-wrap" wx:if="{{item.reply.length > 0}}">
                        <view wx:for="{{item.reply}}" wx:for-item="itemItem" wx:key="index"><navigator class="name" url="{{domain}}user/user?userId={{itemItem.user_id}}" hover-class="none">{{itemItem.nick_name}}</navigator><block wx:if="{{index>0}}">回复<navigator class="name" url="{{domain}}user/user?userId={{item.user_id}}" hover-class="none">{{item.nick_name}}</navigator></block>：{{itemItem.reply}}</view>
                        <view class="more" wx:if="{{item.isGetMoreReply}}" bindtap="getReply" data-index="{{index}}">点击查看更多回复</view>
                    </view>
                </view>
            </view>
        </view>
        <block wx:if="{{articleInfo.comment_no > 0}}">
            <view class="ui-noData" wx:if="{{!commentData.isGet}}">没有更多回复了</view>
            <view class="ui-noData" wx:if="{{commentData.isGet}}">正在加载中 · · ·</view>
        </block>
        <view class="ui-comment-nodata" wx:if="{{articleInfo.comment_no <= 0}}">
            <image class="icon-no-comment" mode="aspectFill" src="../../images/no-comment.png"></image>
            <view>暂时木有回复哦</view>
            <view class="t1">快留言成为第一个发言的人吧</view>
        </view>

        <view class="fixed-bottom-wrap">
            <view class="text-wrap">
                <navigator class="text t1" url="{{domain}}comment/comment?id={{articleInfo.bbs_id}}" hover-class="none">表达你的观点</navigator>
                <block wx:if="{{articleInfo.comment_no > 0}}">
                    <view class="line"></view>
                    <text class="text t2" bindtap="goDetailComment">查看{{articleInfo.comment_no}}条评论</text>
                </block>
            </view>
            <view class="btn {{articleInfo.isStore > 0 ? '' : 'active'}}" bindtap="changeStore">
                <view class="img-wrap"><image class="icon-collection" mode="aspectFill" src="../../images/collection{{articleInfo.isStore > 0 ? '1' : ''}}.png"></image></view>
                <view wx:if="{{articleInfo.isStore > 0}}">已收藏</view>
                <view wx:if="{{articleInfo.isStore <= 0}}">收藏</view>
            </view>
            <button class="btn active" open-type="share">
                <view class="img-wrap"><image class="icon-share1" mode="aspectFill" src="../../images/share1.png"></image></view>
                <view>转发</view>
            </button>
        </view>
    </block>
    <view class="ui-noData" wx:if="{{!isGetArticleInfo}}">正在加载中 · · ·</view>
</view>

