@charset "UTF-8";
@keyframes ui-loading {
  0% {
    -webkit-transform: scaley(1);
    transform: scaley(1);
  }
  50% {
    -webkit-transform: scaley(0.4);
    transform: scaley(0.4);
  }
  100% {
    -webkit-transform: scaley(1);
    transform: scaley(1);
  }
}

.ui-loading {
  font-size: 0;
  text-align: center;
  padding: 20rpx 0;
}

.ui-loading > view {
  font-size: 0;
  background-color: #E10000;
  width: 4rpx;
  height: 30rpx;
  border-radius: 4rpx;
  margin: 5rpx;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  display: inline-block;
  animation: ui-loading 0.5s 0s infinite cubic-bezier(0.85, 0.25, 0.37, 0.85);
}

.ui-loading > view:nth-child(2), .ui-loading > view:nth-child(4) {
  animation-delay: 0.2s;
}

.ui-loading > view:nth-child(1), .ui-loading > view:nth-child(5) {
  animation-delay: 0.4s;
}

.ui-login-btn {
  position: inherit;
  width: 2rpx;
  height: 2rpx;
  overflow: hidden;
  color: transparent;
}

.ui-noData {
  text-align: center;
  font-size: 28rpx;
  color: #B9B9B9;
  line-height: 40rpx;
  padding: 30rpx 0;
}

.ui-search-nodata, .ui-noArticle {
  padding: 130rpx 0;
  text-align: center;
  font-size: 28rpx;
  color: #777777;
}

.ui-search-nodata image, .ui-noArticle image {
  margin: 0 auto 40rpx;
}

.ui-comment-nodata {
  padding: 130rpx 0;
  text-align: center;
  font-size: 32rpx;
  color: #777777;
  line-height: 44rpx;
}

.ui-comment-nodata image {
  margin: 0 auto 30rpx;
}

.ui-comment-nodata .t1 {
  font-size: 24rpx;
  line-height: 40rpx;
  padding-top: 20rpx;
  color: #A6A6A6;
}

.ui-tab-nav {
  display: -webkit-box;
  -webkit-box-align: center;
  background: white;
  color: #1B1B1B;
  text-align: center;
  line-height: 76rpx;
}

.ui-tab-nav .ui-tab-list {
  -webkit-box-flex: 1;
  width: 1%;
}

.ui-tab-nav .ui-tab-list .ui-tab-list-text {
  font-size: 28rpx;
  margin: 0 auto;
  width: 148rpx;
  border-bottom: 4rpx solid white;
}

.ui-tab-nav .ui-tab-list .ui-tab-list-text.active {
  color: #32A241;
  border-bottom-color: #32A241;
}

.ui-tab-nav.active {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.icon-post-article {
  width: 100rpx;
  height: 100rpx;
}

.icon-search {
  width: 28rpx;
  height: 30rpx;
}

.icon-search2 {
  width: 24rpx;
  height: 24rpx;
}

.icon-del {
  width: 30rpx;
  height: 30rpx;
}

.icon-no-article {
  width: 100rpx;
  height: 86rpx;
}

.icon-no-search {
  width: 128rpx;
  height: 132rpx;
}

.icon-no-comment {
  width: 100rpx;
  height: 88rpx;
}

.icon-tb1 {
  width: 22rpx;
  height: 14rpx;
}

.icon-tb2 {
  width: 20rpx;
  height: 18rpx;
}

.icon-tb3 {
  width: 20rpx;
  height: 20rpx;
}

.icon-collection {
  width: 38rpx;
  height: 34rpx;
}

.icon-share1, .icon-reply {
  width: 34rpx;
  height: 32rpx;
}

.icon-expert1 {
  width: 30rpx;
  height: 28rpx;
}

.icon-expert2 {
  width: 62rpx;
  height: 28rpx;
}

.icon-jing {
  width: 48rpx;
  height: 28rpx;
  display: inline-block;
  vertical-align: middle;
  margin-right: 4rpx;
}

.icon-agree, .icon-agree1, .icon-opposition, .icon-opposition1 {
  width: 34rpx;
  height: 34rpx;
}

/**
 * author: Di (微信小程序开发工程师)
 * organization: WeAppDev(微信小程序开发论坛)(http://weappdev.com)
 *               垂直微信小程序开发交流社区
 * 
 * github地址: https://github.com/icindy/wxParse
 * 
 * for: 微信小程序富文本解析
 * detail : http://weappdev.com/t/wxparse-alpha0-1-html-markdown/184
 */
.wxParse {
  font-family: Helvetica,sans-serif;
  font-size: 28rpx;
  color: #666;
  line-height: 1.8;
}

view {
  word-break: break-all;
  overflow: auto;
}

.wxParse-inline {
  display: inline;
  margin: 0;
  padding: 0;
}

/*//标题 */
.wxParse-div {
  margin: 0;
  padding: 0;
}

.wxParse-h1 {
  font-size: 2em;
  margin: .67em 0;
}

.wxParse-h2 {
  font-size: 1.5em;
  margin: .75em 0;
}

.wxParse-h3 {
  font-size: 1.17em;
  margin: .83em 0;
}

.wxParse-h4 {
  margin: 1.12em 0;
}

.wxParse-h5 {
  font-size: .83em;
  margin: 1.5em 0;
}

.wxParse-h6 {
  font-size: .75em;
  margin: 1.67em 0;
}

.wxParse-h1 {
  font-size: 36rpx;
  font-weight: 400;
  margin-bottom: .9em;
}

.wxParse-h2 {
  font-size: 32rpx;
  font-weight: 400;
  margin-bottom: .34em;
}

.wxParse-h3 {
  font-weight: 400;
  font-size: 30rpx;
  margin-bottom: .34em;
}

.wxParse-h4 {
  font-weight: 400;
  font-size: 28rpx;
  margin-bottom: .24em;
}

.wxParse-h5 {
  font-weight: 400;
  font-size: 26rpx;
  margin-bottom: .14em;
}

.wxParse-h6 {
  font-weight: 400;
  font-size: 24rpx;
  margin-bottom: .04em;
}

.wxParse-h1, .wxParse-h2, .wxParse-h3, .wxParse-h4, .wxParse-h5, .wxParse-h6, .wxParse-b, .wxParse-strong {
  font-weight: bolder;
}

.wxParse-i, .wxParse-cite, .wxParse-em, .wxParse-var, .wxParse-address {
  font-style: italic;
}

.wxParse-pre, .wxParse-tt, .wxParse-code, .wxParse-kbd, .wxParse-samp {
  font-family: monospace;
}

.wxParse-pre {
  white-space: pre;
}

.wxParse-big {
  font-size: 1.17em;
}

.wxParse-small, .wxParse-sub, .wxParse-sup {
  font-size: .83em;
}

.wxParse-sub {
  vertical-align: sub;
}

.wxParse-sup {
  vertical-align: super;
}

.wxParse-s, .wxParse-strike, .wxParse-del {
  text-decoration: line-through;
}

/*wxparse-自定义个性化的css样式*/
/*增加video的css样式*/
.wxParse-strong, .wxParse-s {
  display: inline;
}

.wxParse-a {
  color: deepskyblue;
  word-break: break-all;
  overflow: auto;
}

.wxParse-video {
  text-align: center;
  margin: 20rpx 0;
}

.wxParse-video-video {
  width: 100%;
}

.wxParse-img {
  /*background-color: #efefef;*/
  overflow: hidden;
}

.wxParse-blockquote {
  margin: 0;
  padding: 20rpx 0 20rpx 10rpx;
  font-family: Courier, Calibri,"宋体";
  background: #f5f5f5;
  border-left: 6rpx solid #dbdbdb;
}

.wxParse-code, .wxParse-wxxxcode-style {
  display: inline;
  background: #f5f5f5;
}

.wxParse-ul {
  margin: 20rpx 10rpx;
}

.wxParse-li, .wxParse-li-inner {
  display: flex;
  align-items: baseline;
  margin: 10rpx 0;
}

.wxParse-li-text {
  align-items: center;
  line-height: 40rpx;
}

.wxParse-li-circle {
  display: inline-flex;
  width: 10rpx;
  height: 10rpx;
  background-color: #333;
  margin-right: 10rpx;
}

.wxParse-li-square {
  display: inline-flex;
  width: 10rpx;
  height: 10rpx;
  background-color: #333;
  margin-right: 10rpx;
}

.wxParse-li-ring {
  display: inline-flex;
  width: 10rpx;
  height: 10rpx;
  border: 2rpx solid #333;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 10rpx;
}

/*.wxParse-table{
    width: 100%;
    height: 800rpx;
}
.wxParse-thead,.wxParse-tfoot,.wxParse-tr{
    display: flex;
    flex-direction: row;
}
.wxParse-th,.wxParse-td{
    display: flex;
    width: 1160rpx;
    overflow: auto;
}*/
.wxParse-u {
  text-decoration: underline;
}

.wxParse-hide {
  display: none;
}

.WxEmojiView {
  align-items: center;
}

.wxEmoji {
  width: 32rpx;
  height: 32rpx;
}

.wxParse-tr {
  display: flex;
  border-right: 2rpx solid #e0e0e0;
  border-bottom: 2rpx solid #e0e0e0;
  border-top: 2rpx solid #e0e0e0;
}

.wxParse-th,
.wxParse-td {
  flex: 1;
  padding: 10rpx;
  font-size: 28rpx;
  border-left: 2rpx solid #e0e0e0;
  word-break: break-all;
}

.wxParse-td:last {
  border-top: 2rpx solid #e0e0e0;
}

.wxParse-th {
  background: #f0f0f0;
  border-top: 2rpx solid #e0e0e0;
}

.wxParse-del {
  display: inline;
}

.wxParse-figure {
  overflow: hidden;
}

page {
  color: #000000;
  background: white;
  font-family: 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 24rpx;
}

.tc {
  text-align: center;
}

.p20 {
  padding: 40rpx;
}

.pt50 {
  padding-top: 100rpx;
}

.pl20 {
  padding-left: 40rpx;
}

.pr20 {
  padding-right: 40rpx;
}

.pb5 {
  padding-bottom: 10rpx;
}

.pb10 {
  padding-bottom: 20rpx;
}

.pb15 {
  padding-bottom: 30rpx;
}

.pb20 {
  padding-bottom: 40rpx;
}

.mb5 {
  margin-bottom: 10rpx;
}

image {
  display: block;
}

page {
  background: #F7F7FA;
}

.search-hd {
  display: -webkit-box;
  -webkit-box-align: center;
  padding: 14rpx 0 14rpx 16rpx;
}

.search-hd .search-wrap {
  background: white;
  display: -webkit-box;
  -webkit-box-align: center;
  padding: 0 20rpx;
  -webkit-box-flex: 1;
  box-sizing: border-box;
}

.search-hd .search-wrap image {
  margin-right: 20rpx;
}

.search-hd .search-wrap input {
  display: block;
  height: 60rpx;
  line-height: 60rpx;
  -webkit-box-flex: 1;
  box-sizing: border-box;
  color: #0F0F0F;
  font-size: 24rpx;
}

.search-hd .cancel {
  font-size: 30rpx;
  color: #09BB07;
  padding: 0 32rpx;
}

.category {
  padding-left: 30rpx;
  padding-bottom: 20rpx;
  margin-bottom: 20rpx;
  background: white;
}

.category .title {
  line-height: 40rpx;
  padding-top: 20rpx;
  font-size: 28rpx;
  color: #717171;
}

.category .item {
  padding-top: 20rpx;
  padding-bottom: 10rpx;
  border-bottom: 2rpx solid #EFEFEF;
}

.category .item:last-child {
  border-bottom: 0;
}

.category .item .item-title {
  font-size: 28rpx;
  color: #141414;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  line-height: 44rpx;
}

.category .item .item-reply {
  line-height: 34rpx;
  padding-top: 10rpx;
  font-size: 24rpx;
  color: #CFCFCF;
}
