<view class="list">
    <view class="{{index == navIndex ? 'active' : ''}}" wx:for="{{nav}}" wx:key="{{index}}" bindtap="switch" data-index="{{index}}">{{item}}</view>
</view>
<view style="display: {{navIndex == 0 ? 'block' : 'none'}};">课程的内容区域</view>
<view style="display: {{navIndex == 1 ? 'block' : 'none'}};">
    <collection reachBottomNum="{{reachBottomNum}}" userInfo="{{userInfo}}" />
</view>
