<login bind:myevent="onMyEvent"></login>
<view class="article-wrap" wx:if="{{listData.data.length > 0}}">
    <block wx:for="{{listData.data}}" wx:key="{{index}}">
        <navigator class="article-item" url="{{domain}}detail/detail?id={{item.id}}" hover-class="none">
            <view class="content">
                <view class="title-wrap">
                    <view class="title">
                        <image wx:if="{{item.super > 0}}" class="icon-jing" mode="aspectFill" src="../../images/jing.png"></image>
                        <image wx:if="{{item.top > 0}}" class="icon-jing" mode="aspectFill" src="../../images/ding.png"></image>
                        <text>{{item.title}}</text>
                    </view>
                    <view class="tag" wx:if="{{item.tag.length > 0}}">
                        <view class="tag-item" wx:for="{{item.tag}}" wx:for-item="tagItem" wx:key="index">{{tagItem}}</view>
                    </view>
                    <view class="contact">
                        <view>
                            <image class="icon-tb1" mode="aspectFill" src="../../images/tb1.png"></image>
                            <text>{{item.view_no}}</text>
                        </view>
                        <view>
                            <image class="icon-tb2" mode="aspectFill" src="../../images/tb2.png"></image>
                            <text>{{item.comment_no}}</text>
                        </view>
                        <view>
                            <image class="icon-tb3" mode="aspectFill" src="../../images/tb3.png"></image>
                            <text>{{item.store_no}}</text>
                        </view>
                    </view>
                </view>
            </view>
        </navigator>
    </block>
</view>

<view class="ui-noData" wx:if="{{listData.ajaxIng}}">内容加载中 · · ·</view>
<view class="ui-noData" wx:if="{{!listData.dataGet && listData.data.length > 0}}">没有更多内容了</view>
<view class="ui-noArticle" wx:if="{{!listData.dataGet && listData.data.length <= 0}}">
    <image class="icon-no-article" mode="aspectFill" src="../../images/no-article.png"></image>
    <view>暂时木有内容哦</view>
</view>

