<login></login>
<view class="top-main">
    <navigator class="search-wrap" url="{{domain}}search/search" hover-class="none">
        <image class="icon-search" mode="aspectFill" src="../../images/search.png"></image>
        <text>搜索</text>
    </navigator>

    <view class="swiper-wrap">
        <swiper indicator-dots="true" autoplay="true" indicator-color="#848484" indicator-active-color="white">
            <swiper-item wx:for="{{sliderImgs}}" wx:key="{{index}}">
                <navigator url="{{domain}}{{item.img_link}}" hover-class="none">
                    <image src="{{item.img_url}}" class="slide-image"/>
                </navigator>
            </swiper-item>
        </swiper>
    </view>

    <navigator class="btn-post-article" url="{{domain}}post-article/post-article" hover-class="none" wx:if="{{tabIndex <= 0}}">
        <image class="icon-post-article" mode="aspectFill" src="../../images/post-article.png"></image>
    </navigator>
</view>

<view class="ui-tab-nav {{navFixed ? 'active' : ''}}">
    <view wx:for="{{tabItem}}" wx:key="{{index}}" class="ui-tab-list" data-index="{{index}}" bindtap="switchTab">
        <view class="ui-tab-list-text {{index == tabIndex ? 'active' : ''}}">{{item}}</view>
    </view>
</view>

<view class="article-wrap" wx:if="{{listData[tabIndex].data.length > 0}}">
    <block wx:for="{{listData[tabIndex].data}}" wx:key="{{index}}">
        <view class="article-item article-item-{{index}}" wx:if="{{tabIndex == 0}}">
            <navigator class="header" url="{{domain}}user/user?userId={{item.author_id}}" hover-class="none">
                <image class="user-logo" mode="aspectFill" src="{{item.head_url}}"></image>
                <view class="name-wrap">
                    <view class="name">
                        <view class="name-text">{{item.nick_name}}</view>
                        <image wx:if="{{item.level == 1}}" class="icon-expert1" mode="aspectFill" src="../../images/expert-1.png"></image>
                        <image wx:if="{{item.level == 2}}" class="icon-expert2" mode="aspectFill" src="../../images/expert-2.png"></image>
                    </view>
                    <view class="position" wx:if="{{item.company}}">{{item.company}}</view>
                </view>
            </navigator>
            <navigator class="content" url="{{domain}}detail/detail?id={{item.id}}" hover-class="none">
                <view class="title-wrap">
                    <view class="title">
                        <image wx:if="{{item.super > 0}}" class="icon-jing" mode="aspectFill" src="../../images/jing.png"></image>
                        <image wx:if="{{item.top > 0}}" class="icon-jing" mode="aspectFill" src="../../images/ding.png"></image>
                        <text>{{item.title}}</text>
                    </view>
                </view>
                <view class="tag" wx:if="{{item.tag.length > 0}}">
                    <view class="tag-item" wx:for="{{item.tag}}" wx:for-item="tagItem" wx:key="index">{{tagItem}}</view>
                </view>
                <view class="contact">
                    <view class="time">{{item._udate}}更新</view>
                    <view>
                        <image class="icon-tb1" mode="aspectFill" src="../../images/tb1.png"></image>
                        <text>{{item.view_no}}</text>
                    </view>
                    <view>
                        <image class="icon-tb2" mode="aspectFill" src="../../images/tb2.png"></image>
                        <text>{{item.comment_no}}</text>
                    </view>
                </view>
            </navigator>
        </view>
        <view class="article-item article-item2 article-item-{{index}}" wx:else>
            <navigator class="header" url="{{domain}}user/user?userId={{item.author_id}}" hover-class="none">
                <image class="user-logo" mode="aspectFill" src="{{item.head_url}}"></image>
                <view class="name-wrap">
                    <view class="name">{{item.nick_name}}</view>
                </view>
            </navigator>
            <navigator class="content" url="{{domain}}detail/detail?id={{item.id}}" hover-class="none">
                <view class="title-wrap">
                    <view style="-webkit-box-flex: 1;">
                        <view class="title">
                            <image wx:if="{{item.super > 0}}" class="icon-jing" mode="aspectFill" src="../../images/jing.png"></image>
                            <image wx:if="{{item.top > 0}}" class="icon-jing" mode="aspectFill" src="../../images/ding.png"></image>
                            <text>{{item.title}}</text>
                        </view>
                        <view class="desc">{{item.content}}</view>
                    </view>
                    <image class="pic" mode="aspectFill" src="{{item.surface_img}}" wx:if="{{item.surface_img}}"></image>
                </view>
                <view class="tag" wx:if="{{item.tag.length > 0}}">
                    <view class="tag-item" wx:for="{{item.tag}}" wx:for-item="tagItem" wx:key="index">{{tagItem}}</view>
                </view>
                <view class="contact">
                    <view class="time">{{item._udate}}更新</view>
                    <view>
                        <image class="icon-tb1" mode="aspectFill" src="../../images/tb1.png"></image>
                        <text>{{item.view_no}}</text>
                    </view>
                    <view>
                        <image class="icon-tb2" mode="aspectFill" src="../../images/tb2.png"></image>
                        <text>{{item.comment_no}}</text>
                    </view>
                    <view>
                        <image class="icon-tb3" mode="aspectFill" src="../../images/tb3.png"></image>
                        <text>{{item.store_no}}</text>
                    </view>
                </view>
            </navigator>
        </view>
    </block>
</view>
<view class="ui-noData" wx:if="{{!listData[tabIndex].dataGet && listData[tabIndex].data.length > 0 }}">没有更多内容了</view>
<view class="ui-noData" wx:if="{{listData[tabIndex].dataGet}}">正在加载中 · · ·</view>
<view class="ui-noArticle" wx:if="{{!listData[tabIndex].dataGet && !listData[tabIndex].ajaxIng && listData[tabIndex].data.length <= 0}}">
    <image class="icon-no-article" mode="aspectFill" src="../../images/no-article.png"></image>
    <view>暂时木有内容哦</view>
</view>
